body {
  margin: 0;
  font-size: 'Inter'; 
}

:root {
  --swiper-navigation-color: #ffa500;
  --swiper-theme-color: #ffffff;
}

.active {
  color: green !important;
  font-weight: 800 !important;
  cursor: none !important;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}